body {
    /* Definir un degradado lineal como fondo */
    background-image: linear-gradient(to bottom right, #0096ed, #ff6347); 
    background-image: url('http://127.0.0.1:8000/images/Logo.png'), linear-gradient(to bottom right, #0096ed, #ff6347); 
    background-size: cover; /* Cubrir todo el fondo */
    background-position: center; /* poner fondo en el centro */
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0); 
    height: 100vh; /* Establecer altura completa de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* el formulario */
  .col-md-7.col-lg-5.col-xl-5.offset-xl-1 {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px; 
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px; /* Ancho máximo del contenedor */
    width: 100%; /* hace que todo el ancho disponible sea ocupado */
  }
  